<table class="smpl_exif_table">
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Author</td><td>{{author}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Last modify by</td><td>{{last_modify_by}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Created</td><td> {{created}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Last modified</td><td>{{lastmodified}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Revision</td><td>{{revision}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Last printed</td><td>{{last_printed}}</td></tr> 
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Application</td><td>{{application}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">App. version</td><td>{{appversion}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Pages</td><td>{{pages}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Words</td><td>{{words}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Characters</td><td>{{characters}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">total times</td><td>{{total_time}} sec</td></tr>
      
</table>