<table class="smpl_exif_table">
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Creator</td><td>{{creator}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Cration date</td><td>{{creation_date}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Producer</td><td> {{producer}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Modify date</td><td>{{moddate}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Title</td><td>{{title}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Pages</td><td>{{pages}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Encoding</td><td>{{encoding}}</td></tr>
</table>