<table class="smpl_exif_table">
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Broken</td><td>{{isbroken}} sec</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Number of files</td><td>{{number_of_files}} sec</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Compressed size</td><td> {{compressed_size}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Original size</td><td>{{original_size}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Compress ratio</td><td>{{compress_ratio}}</td></tr>
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Status</td><td>{{status}}</td></tr> 
  <tr class="smpl_exif_tr"><td class="smpl_exif_td">Commen}</td><td>{{comment}} sec</td></tr>
</table>