
<div id="sub{{ id }}" class="smpl_sub_text">
  {{sub}}
</div>
<div id="link{{ id }}" class="smpl_link" style="display: none;">
  <a id="LinkBtn{{ id }}" class="smpl_url_plus" style="text-decoration: none;"
    href="{{ url }}" target="_blank title="{{ urltitle }}">&nbsp;&nbsp;&nbsp;&nbsp;</a>
</div>
<div class="smpl_view">
  <div id="View{{ id }}" class="smpl_view_number">
    {{ view }}
  </div>
  <div id="ViewLast{{ id }}" class="smpl_view_last">
    {{ lastview }}
  </div>
</div>
<div id="DescCont{{ id }}" name="DescCont{{ id }}" class="smpl_desc_cont">
  <a id="Desca{{ id }}" name="Desc_a_{{ id }}" class="smpl_desc_a"
    href="javascript:void(0)">{{ desc }}</a>
</div>