<div id="smplslidetn{{ id }}" class="smplslidetn_container" style="border: 1px solid black;">
  <div id="smplslidetndiv{{ id }}" class="smplslidetn_image_div">
    <img id="smplslidetn{{ id }}" src="{{ linktn }}" title="{{ titletn }}"
      alt="{{ slidetnsubtitle }}" class="smplslidetnimg" data-link="{{ linktn }}" loading="lazy" />
  </div>
</div>