
<select id="smpl_sortorder" name="smpl_sortorder">
  <option value="-" {{ - }}>-</option>
  <option value="filename" {{ filename }}>{{ Filename }}</option>
  <option value="subtitle" {{ subtitle }}>{{ Subtitle }}</option>
  <option value="type" {{ type }}>{{ Type }}</option>
  <option value="size" {{ size }}>{{ Size }}</option>
  <option value="date" {{ date }}>{{ Date }}</option>
  <option value="views" {{ views }}>{{ Views }}</option>
  
</select>
<select id="smpl_ascdesc" name="smpl_ascdesc">
  <option value="asc" {{ asc }}>{{ Ascending }}</option>
  <option value="desc" {{ desc }}>{{ Descending }}</option>
</select>