<a id="smpl_stat_link" href="#" class="" onclick="return false;">{{ Statistics }}</a>
<div id="smpl_stat" style="display: none;">
  <table id="smpl_stat_table">
    <tr class="smpl_stat_row">
      <th style="text-align: center;">{{ Dataname }}</th>
      <th style="text-align: center;">{{ Value }}</th>
    <tr>
    <tr>
      <td class="smpl_stat_tdleft">{{ Number of items }}</td>
      <td class="smpl_stat_tdval">{{ numitems }}</td>
    </tr>
    <tr>
      <td class="smpl_stat_tdleft">{{ Number of views }}</td>
      <td class="smpl_stat_tdval">{{ sumviews }}</td>
    </tr>
    <tr>
      <td class="smpl_stat_tdleft">{{ Average of views }}</td>
      <td class="smpl_stat_tdval">{{ avgviews }}</td>
    </tr>
  </table>
</div>